<br>

<div>
  <h1 class="text-xl">AULAS</h1>
  <br>
  <h2 class="text-lg"><%= link_to "Ruby Básico", pt_aulas_ruby_path, class: "text-blue-600" %></h2>
  <h2 class="text-lg"><%= link_to "Rails", pt_aulas_rails_path, class: "text-blue-600" %></h2>
</div>

<br>

<div>
  <h2 class="text-lg">GRADE CURRICULAR</h2>
</div>

<br>

<div>
  <h3>1. Ganhar Dinheiro</h3>
  <ul>
    <li>- "Mah, oi! Olha o aviãozinho...."</li>
    <li>- Como ganhar experiência como programador e ganhar algum dinheiro ao mesmo tempo</li>
    <li>- Como montar seu perfil de programador no LinkedIn</li>
    <li>- Como se preparar para entrevistas</li>
  </ul>
</div>

<br>

<div>
  <h3>2. Front End</h3>
  <ul>
    <li>- CSS (com TailWind)</li>
    <li>- HTML</li>
  </ul>
</div>

<br>

<div>
  <h3>3. Back End</h3>
  <ul>
    <li>- Como funciona a internet</li>
    <li>- Ruby on Rails</li>
    <li>- SQL e Bando de dados</li>
    <li>- MVC (Model-View-Controller)</li>
    <li>- TDD (Desenvolvimento Direcionado por Testes com Rspec)</li>
  </ul>
</div>

<br>

<div>
  <h3>4. Deploy</h3>
  <ul>
    <li>- Como subir app na internet</li>
    <li>- Como comprar um domínio (tipo: inglesnerd.com)</li>
  </ul>
</div>

<br>

<div>
  <h3>5. Controle de versão</h3>
  <ul>
    <li>- Git</li>
    <li>- Fazer Pull Requests</li>
    <li>- Comentários em códigos de outras pessoas</li>
    <li>- Colaboração com outros desenvolvedores</li>
  </ul>
</div>

<br>

<div>
  <h3>6. Ruby</h3>
  <ul>
    <li>- Vamos aprender Ruby intermediário</li>
    <li>- Programação Orientada a Objetos</li>
    <li>- Algoritmos</li>
  </ul>
</div>

<br>

<div>
  <h3>7. Linux</h3>
  <ul>
    <li>- Vamos aprender alguns comandos úteis no terminal</li>
  </ul>
</div>
