<br>

<div>
  <h1 class="text-xl">Desenvolvimento Web com Rails</h1>
</div>

<br>

<div>
  <h2 class="text-lg font-bold">14:00 - Aula desta Semana</h2>
  <h2 class="text-lg font-bold text-blue-600">
    <a href="https://www.youtube.com/watch?v=FoJvTMzCQWg" target="_blank">6ª Aula do Bootcamp</a>
    <span class="text-sm text-black">(07/01/2023)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=bwXpC7WLUGY" target="_blank">5ª Aula do Bootcamp Parte 1</a>
    <span class="text-sm text-black">(31/12/2022)</span>
  </h2>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=HnHzhJ4oA7E" target="_blank">5ª Aula do Bootcamp Parte 2</a>
    <span class="text-sm text-black">(31/12/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=dGm70pA4r4w" target="_blank">4ª Aula do Bootcamp</a>
    <span class="text-sm text-black">(24/12/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=gp09DsRddnE" target="_blank">3ª Aula do Bootcamp</a>
    <span class="text-sm text-black">(17/12/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=Sl71mawunSg" target="_blank">2ª Aula do Bootcamp</a>
    <span class="text-sm text-black">(10/12/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=CSXjA8naX_A" target="_blank">1ª Aula do Bootcamp</a>
    <span class="text-sm text-black">(03/12/2022)</span>
  </h2>
</div>
