<br>

<div>
  <h1 class="text-xl">Programação Básica Ruby</h1>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://youtu.be/rDzgBd6P29E" target="_blank">1ª Aula de Programação</a>
    <span class="text-sm text-black">(01/10/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=RwSyG1NDCZc" target="_blank">2ª Aula de Programação</a>
    <span class="text-sm text-black">(08/10/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=BP--_6DbxKI" target="_blank">3ª Aula de Programação</a>
    <span class="text-sm text-black">(15/10/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=UXBYwuSdXR0" target="_blank">4ª Aula de Programação</a>
    <span class="text-sm text-black">(29/10/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=K02xgBVo1Ww" target="_blank">5ª Aula do Programação</a>
    <span class="text-sm text-black">(05/11/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=6-G3vAh51c0" target="_blank">6ª Aula de Programação</a>
    <span class="text-sm text-black">(12/11/2022)</span>
  </h2>
</div>

<br>

<div>
  <h2 class="text-lg text-blue-600">
    <a href="https://www.youtube.com/watch?v=2W2IwYtEtPw" target="_blank">7ª Aula de Programação</a>
    <span class="text-sm text-black">(19/11/2022)</span>
  </h2>
</div>
