<br>

<div>
  <h1 class="text-xl">Celso de Sá</h1>
</div>

<br>

<div>
  <ul>
    <li>36 anos</li>
    <li>Gaúcho</li>
    <li>Ama muito aprender</li>
    <li class="text-blue-600">
      <a href="https://github.com/CelsoDeSa" target="_blank">
        GitHub
      </a>
    </li>
  </ul>
</div>
