<div>
  <h1>Celso de Sá</h1>

  <ul>
    <li>36 anos</li>
    <li>Gaúcho</li>
    <li>Ama muito aprender</li>
    <li>
      <a href="https://github.com/CelsoDeSa" target="_blank">
        GitHub
      </a>
    </li>
  </ul>
</div>
