<div class="m-80">
  <%= image_tag("fabio", class: "w-52 h-52 rounded-full")%>

  <h1> Olá Meus Manos!</h1>
  <p></p>

  <h2> Estou perseverando </h2>
  <h2 style="color:blue;">Eu me chamo Fábio Barros</h2>
  <hr class="larger-bar">
  <h2>Gosto de jazz, Bossa Nova e MPB.</h2>
</div>
