<div>
  <h1>Luciano OLiveira de Assumpção</h1>
  <hr>
  <ul>
    <li>Mineiro</li>
    <li>Casado e pai de 04 filhos</li>
    <li>Moro em Rodeiro,zona da mata mineira,uma das cidades do polo moveleiro de minas</li>
    <li>Gosto demais de aprender coisas novas</li>
    <li> Aprender Programação é a minha mais nova aventura</li>
  </ul>
</div>

<div>
  <p>
    <a href="https://github.com/Luciano45tj"target="_blank">
      Github
    </a>
  </p>
</div>
