<div>
  <h1 class="text-xl text-center mt-8">
    <span class="line-through">Super Iteresting &</span> Kinda Intriguing Conversation Starter Generator
  </h1>
  <h2 class="text-xl text-center">
    Specially Developed So You Can <span class="line-through">Avoid Awkward Silences</span>
  </h2>
  <h2 class="text-xl text-center">
    Have a Totally Normal Interaction With [Celso de Sá]
  </h2>
</div>

<div class="bg-slate-800 mt-16 py-6 rounded-md">
  <p class="text-lg text-center text-white"><%= @conversation_starters.first.teaser || "TEASER WILL APPEAR HERE" %></p>
</div>

<div class="text-center mt-12">
  <%= link_to "pResS mE If yOu dARe", "/projects/conversation_starter" , class: "rounded-full bg-red-500 hover:bg-red-600 py-2 px-6 text-lg text-white" %>
</div>
