<br />
<div>
  <h1 class="text-xl">Bootcampito em Português Brasileiro!</h1>
</div>

<br />

<div>
  <h2 class="text-lg font-bold">
    Aula de Hoje (click no link abaixo)
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=FoJvTMzCQWg" target="_blank">14:00 - 6ª Aula do Bootcamp</a>
  </p>
</div>
