<br />
<div>
  <h1 class="text-xl">Bootcampito em Português Brasileiro!</h1>
  <%= link_to "Grade Curricular", pt_grade_path, class: "text-blue-600" %>
</div>

<br />

<div>
  <h2 class="text-lg font-bold">
    Aula de Hoje (click no link abaixo)
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=FoJvTMzCQWg" target="_blank">14:00 - 6ª Aula do Bootcamp</a>
  </p>
</div>

<br />

<div>
  <h2 class="text-lg font-bold">
    03/12/2022
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=CSXjA8naX_A" target="_blank">1ª Aula do Bootcamp</a>
  </p>
</div>

<br />

<div>
  <h2 class="text-lg font-bold">
    10/12/2022
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=Sl71mawunSg" target="_blank">2ª Aula do Bootcamp</a>
  </p>
</div>

<br />

<div>
  <h2 class="text-lg font-bold">
    17/12/2022
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=gp09DsRddnE" target="_blank">3ª Aula do Bootcamp</a>
  </p>
</div>

<br />

<div>
  <h2 class="text-lg font-bold">
    24/12/2022
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=dGm70pA4r4w" target="_blank">4ª Aula do Bootcamp</a>
  </p>
</div>

<br />

<div>
  <h2 class="text-lg font-bold">
    31/12/2022
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=bwXpC7WLUGY" target="_blank">5ª Aula do Bootcamp (Parte 1) </a>
    <a href="https://www.youtube.com/watch?v=HnHzhJ4oA7E" target="_blank">5ª Aula do Bootcamp (Parte 2) </a>
  </p>
</div>
