<br />
<div>
  <h1 class="text-xl">Bootcampito en Español!</h1>
</div>

<br />

<div>
  <h2 class="text-lg font-bold">
    Clase de Hoy (click en el enlace abajo)
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=N-3emFrFdT4" target="_blank">16:00 - 6ª Aula do Bootcamp</a>
  </p>
</div>
