<br />

<div>
  <h1>GRADE CURRICULAR DO BOOTCAMP</h1>
</div>

<br />

<div>
  <h2>1. Ganhar Dinheiro</h2>
  <ul>
    <li>"Mah, oi! Olha o aviãozinho...."</li>
    <li>Como ganhar experiência como programador e ganhar algum dinheiro ao mesmo tempo</li>
    <li>Como montar seu perfil de programador no LinkedIn</li>
    <li>Como se preparar para entrevistas</li>
  </ul>
</div>

<br />

<div>
  <h2>2. Front End</h2>
  <ul>
    <li>CSS (com TailWind)</li>
    <li>HTML</li>
  </ul>
</div>

<br />

<div>
  <h2>3. Back End</h2>
  <ul>
    <li>Como funciona a internet</li>
    <li>Ruby on Rails</li>
    <li>SQL e Bando de dados</li>
    <li>MVC (Model-View-Controller)</li>
    <li>TDD (Desenvolvimento Direcionado por Testes com Rspec)</li>
  </ul>
</div>

<br />

<div>
  <h2>4. Deploy</h2>
  <ul>
    <li>Como subir app na internet</li>
    <li>Como comprar um domínio (tipo: inglesnerd.com)</li>
  </ul>
</div>

<br />

<div>
  <h2>5. Controle de versão</h2>
  <ul>
    <li>Git</li>
    <li>Fazer Pull Requests</li>
    <li>Comentários em códigos de outras pessoas</li>
    <li>Colaboração com outros desenvolvedores</li>
  </ul>
</div>

<br />

<div>
  <h2>6. Ruby</h2>
  <ul>
    <li>Vamos aprender Ruby intermediário</li>
    <li>Programação Orientada a Objetos</li>
    <li>Algoritmos</li>
  </ul>
</div>

<br />

<div>
  <h2>7. Linux</h2>
  <ul>
    <li>Vamos aprender alguns comandos úteis no terminal</li>
  </ul>
</div>
