
 <div>
  <%= image_tag("fabio", class: "round-img")%> 
 </div>
 
 <h1> Olá Meus Manos!</h1>
 <p></p>
 
 <h1> Estou perseverando </h1>
 <h1 style="color:blue;">Eu me chamo Fábio Barros</h1>
 <hr class="larger-bar">
 <!DOCTYPE html>
 <html>
 <head>
 <style> 
 body {background-color: white;}
 h1 {color: black;}
 p {color: black;}
 
 .round-img {
 border-radius: 50%; /* Arredonda as bordas da imagem para 50% */
 width: 200px; /* Define o tamanho da imagem */
 height: 200px; /* Define o tamanho da imagem */
 overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites da imagem */
 }
 
 </style>
 </head>
 <body>
 <h1>Gosto de jazz, Bossa Nova e MPB.
 </h1>
 
 </body>
 </html>
 
