<br>
<div>
  <h1 class="text-xl">Bootcampito en Español!</h1>
</div>

<br>

<div>
  <h2 class="text-lg font-bold">
  </h2>
  <p class="text-blue-600">
    <a href="https://youtube.com/live/XuK-HNnTGyw" target="_blank">6ª Clase de Programación</a>
  </p>
</div>
<br>

<div>
  <h2 class="text-lg font-bold">
  </h2>
  <p class="text-blue-600">
    <a href="https://youtube.com/live/jz9o25ntIWA" target="_blank">5ª Clase de Programación</a>
  </p>
</div>
<br>

<div>
  <h2 class="text-lg font-bold">
  </h2>
  <p class="text-blue-600">
    <a href="https://youtube.com/live/U-Ax6hwec6E" target="_blank">4ª Clase de Programación</a>
  </p>
</div>
<br>

<div>
  <h2 class="text-lg font-bold">
  </h2>
  <p class="text-blue-600">
    <a href="https://youtube.com/live/9k4_z_KdJRY" target="_blank">3ª Clase de Programación</a>
  </p>
</div>

<br>

<div>
  <h2 class="text-lg font-bold">
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=CwUkQkbU3CA" target="_blank">2ª Clase de Programación</a>
  </p>
</div>

<br>

<div>
  <h2 class="text-lg font-bold">
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=N-3emFrFdT4" target="_blank">1ª Clase de Programación</a>
  </p>
</div>
