<br>
<div>
  <h1 class="text-xl">Bootcampito en Español!</h1>
</div>

<br>

<div>
  <h2 class="text-lg font-bold">
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=N-3emFrFdT4" target="_blank">1ª Clase de Programación</a>
  </p>
</div>

<div>
  <h2 class="text-lg font-bold">
  </h2>
  <p class="text-blue-600">
    <a href="https://www.youtube.com/watch?v=CwUkQkbU3CA" target="_blank">2ª Clase de Programación</a>
  </p>
</div>
